header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1b5cb7;
    color: #fff;
    height: 80px;
    padding-left: 15px;
    
    img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
}